.pseudo-wrap-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #222;
  opacity: 0.5;
}

.modal {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  background-color: #ffd492;
  border-radius: 25px;
  border: 15px solid #ff8163;
  width: 400px;
  height: 300px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #ff8163;
}

.pseudo-wrap-modal.-active,
.pseudo-wrap-modal.-active ~ .modal {
  display: none;
}

.modal > .modal-button {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 48px;
  border: 5px solid #ff8163;
  background-color: #4eff75;
  border-radius: 5px;
  color: #ff8163;
  font-family: inherit;
}

.modal > .modal-button:hover {
  cursor: pointer;
}

.modal > .message {
  width: 90%;
  margin: 15% auto;
  font-family: inherit;
  text-align: center;
  font-size: 25px;
}
