
.board,
.grid,
.item,
.menu,
.btn {
    display: grid;
}

.stage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.board {
    background-image: linear-gradient(cyan, magenta);
    grid-template-columns: 100%;
    grid-template-rows: 80% 20%;
    position: relative;
    width: 50vw;
    height: 80vh;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}

.board > .grid {
    box-sizing: border-box;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    justify-content: stretch;
}

.flip-card {
  position: relative;
  width: 90%;
  height: 90%;
  align-self: center;
  justify-self: center;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.grid > .flip-card:hover {
    cursor: pointer;
}

.flip-card > .flip-card-front {
    background-image: linear-gradient(magenta, cyan);
    box-shadow: 6px 7px 30px -11px rgba(48,2,48,1);
    border-radius: 15px;
    transition: transform 1s;
}

.flip-card > .flip-card-back {
  background-color: #fff;
  border-radius: 15px;
}

.flip-card > .flip-card-front,
.flip-card > .flip-card-back {
    font-size: 3em;
    box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 15% 0;
  backface-visibility: hidden;
}

@media (max-width: 768px) {
    .flip-card > .flip-card-front,
    .flip-card > .flip-card-back {
        font-size: 2.5em;
        padding: 30% 0;
    }
}

@media (max-width: 640px) {
    .flip-card > .flip-card-front,
    .flip-card > .flip-card-back {
        font-size: 2em;
        padding: 45% 0;
    }
}

@media (max-width: 450px) {
    .flip-card > .flip-card-front,
    .flip-card > .flip-card-back {
        font-size: 1.5em;
        padding: 75% 0;
    }
}

@media (max-width: 360px) {
    .flip-card > .flip-card-front,
    .flip-card > .flip-card-back {
        font-size: 1.5em;
        padding: 90% 0;
    }
}

.board > .menu {
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    align-items: center;
}

.menu > .btn {
    width: 70%;
    height: 70%;
    border: none;
    border-radius: 25px;
    justify-self: center;
}

.menu > .-start:hover {
    cursor: pointer;
}

.rotate {
    transform: rotateY(180deg);
}