body {
  height: 100vh;
  width: 100vw;
  background-color: #f29e03;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 100 100'%3E%3Crect x='0' y='0' width='46' height='46' fill-opacity='0.6' fill='%23ffa61d'/%3E%3C/svg%3E");
}

.grid {
  display: grid;
}

.stage {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  padding: 25px;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(cyan, magenta);
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.grid {
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
}

.flip-card {
  width: 10vw;
  height: 10vw;
  align-self: center;
  justify-self: center;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.grid > .flip-card:hover {
  cursor: pointer;
}

.flip-card > .flip-card-front {
  background-image: linear-gradient(magenta, cyan);
  box-shadow: 6px 7px 30px -11px rgba(48, 2, 48, 1);
  border-radius: 15px;
  transition: transform 1s;
  padding-top: 5%;
}

.flip-card > .flip-card-back {
  background-color: #fff;
  border-radius: 15px;
}

.flip-card > .flip-card-front,
.flip-card > .flip-card-back {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 95%;
  backface-visibility: hidden;
  font-size: 7vw;
}

.start-button,
.restart-button {
  border: none;
  background-color: transparent;
  font-size: 4vw;
  color: #fff;
  text-transform: uppercase;
}

.timer.-active > .start-button {
  display: none;
}

.timer > .restart-button {
  display: none;
}

.timer.-active > .restart-button {
  display: block;
}

.start-button:hover,
.restart-button:hover {
  cursor: pointer;
}

.rotate {
  transform: rotateY(180deg);
}

.timer {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  top: 25%;
  right: 6%;
  transform: translate(0%, -50%);
  text-align: center;
  background-image: linear-gradient(cyan, magenta);
  border: none;
  border-radius: 25px;
  box-shadow: 6px 7px 30px -11px rgba(48, 2, 48, 1);
  border-right: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.timer > p {
  display: inline-block;
  margin: 0 0 10px 0;
  text-align: center;
  width: 100%;
  font-size: 4vw;
  color: #fff;
}
