.board,
.grid,
.item,
.menu,
.btn {
    display: grid;
}

.stage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.board {
    background-image: linear-gradient(cyan, magenta);
    grid-template-columns: 100%;
    grid-template-rows: 80% 20%;
    position: relative;
    width: 50vw;
    height: 80vh;
    padding: 25px;
    border-radius: 25px;
}

.board > .grid {
    box-sizing: border-box;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    justify-content: stretch;
}

.grid > .item {
    align-items: center;
    justify-self: center;
    height: 80%;
    width: 80%;
    max-width: 100%;
    background-image: linear-gradient(magenta, cyan);
    border-radius: 15px;
}

.grid > .item:hover {
    cursor: pointer;
}

.grid .card {
    text-align: center;
    max-width: 100%;
    font-size: 100%;
    font-size: 100%;
}

.board > .menu {
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    align-items: center;
}

.menu > .btn {
    width: 70%;
    height: 70%;
    border: none;
    border-radius: 25px;
    justify-self: center;
}

.menu > .-start:hover {
    cursor: pointer;
}

.menu > .-restart:hover {
    cursor: pointer;
};